DATABASE_URL="postgresql://xeniia_user:change-me@localhost:5432/xeniia?schema=public"
AUTH_SECRET="change-me"
AUTH_URL="https://kseniyanaumchik.ru"
ADMIN_PASSWORD="change-me"
NEXT_PUBLIC_YANDEX_METRIKA_ID=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
VK_GROUP_TOKEN=""
VK_RECIPIENT_IDS="714912052"
